@media (max-width: 46.1875em) {
    :root {
        --header-height: 50px;
    }

    header .grid {
        display: none;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 8px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        height: var(--header-height);
    }

    .info-shop {
        padding: 0;
    }

    .col-sm-12 {
        width: 100%;
    }

    .info__background {
        height: 238px;
        border-radius: 0;
    }

    .info__background > img {
        object-fit: cover;
        height: 100%;
    }

    .first-info {
        position: absolute;
        top: 60px;
        left: 6px;
    }

    .second-info {
        top: 74px;
        left: 32%;
    }

    .third-info .col-6:first-child, .third-info .col-6:last-child {
        padding: 12px;
    }

    .info__below {
        padding: 0;
        top: var(--header-height);
    }

    .main__coupon {
        margin: 0;
        height: auto;
        overflow-x: scroll;
        padding: 16px;
    }

    .info-shop .col-4.col-sm-12:nth-child(2),
    .info-shop .col-4.col-sm-12:nth-child(3) {
        display: none;
    }

    .info__below .col-2-sm:first-child,
    .info__below .col-2-sm:nth-child(2),
    .info__below .col-2-sm:nth-child(5) {
        width: 33.33333%;
    }

    .info__below .col-2-sm:nth-child(3),
    .info__below .col-2-sm:nth-child(4),
    .info__below .col-2-sm:nth-child(6),
    .info__below-more {
        display: none;
    }

    .coupon-left {
        padding: 0;
        width: 180px;
    }

    .coupon-right {
        margin-left: 10px;
    }

    .main__coupon h2 {
        display: none;
    }

    .main__coupon .row {
        flex-wrap: nowrap;
    }

    .main__coupon .col-4 {
        width: auto;
    }

    .heading {
        padding: 0 12px;
    }

    .heading-left {
        font-size: 1.4rem;
        font-weight: 400;
    }
    
    .product-wrap {
        margin: 14px 0 0;
    }

    .main-content-wrap {
        margin: 0;
    }

    .main__product.col-2 {
        width: 50%;
    }

    .main__product.col-2-10 {
        width: 46%;
        margin-bottom: 12px;
    }

    .row.product-wrap {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
    }

    .main__product-wrap img {
        width: 216px;
    }

    .row .main-sidebar {
        display: none;
    }

    .row .main-content-filter-wrap {
        display: none;
    }

    .main__product-sale-right {
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        height: 22px;
        overflow: hidden;
    }

    .main__product-detail .row {
        flex-wrap: nowrap;
    }

    .main-content.col-10 {
        width: 100%;
    }

    footer .col-4 {
        padding: 0 65px;
    }

    .col-24.col-sm-12 {
        text-align: center;
    }

    .heading.heading-mobile {
        display: block;
    }
}

@media (max-width: 17.5em) {
    .second-info {
        left: 40%;
    }

    .main__product.col-2 {
        width: 70%;
    }

    .main__product.col-2-10 {
        width: 80%;
        margin: 0 auto 22px;
    }

    .header-mobile-search {
        width: 208px;
    }
}

@media (min-width: 46.25em) and (max-width: 64em) {
    .header__above, .header__below {
        font-size: 0.92rem;
    }

    .shopee-svg-icon {
        width: 42px;
        padding-right: 10px;
    }

    .shopee-svg-brand {
        width: 154px;
        padding-left: 10px;
    }

    .second-info {
        left: 40%;
        top: 18px;
    }

    .second-info h2 {
        font-size: 2rem;
    }

    .info__above .col-4:nth-child(2), .info__above .col-4:nth-child(3) {
        padding: 17px 20px 0;
    }

    .info__above .col-4:nth-child(2) .row span:nth-child(3), .info__above .col-4:nth-child(3) .row span:nth-child(3) {
        margin-left: 4px;
    }

    .main__coupon {
        margin-top: 20px;
        overflow-x: scroll;
        height: auto;
    }

    .main__coupon .row {
        flex-wrap: nowrap;
    }

    .main__coupon .col-4 {
        width: auto;
    }

    .coupon-left {
        padding: 0 108px 0 0; 
    }

    .coupon-right {
        margin-left: 12px;
    }

    .heading {
        margin-left: 12px;
        margin-right: 12px;
    }

    .main__product.col-2 {
        width: 33.33333%;
    }

    .row.product-wrap {
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .main__product-wrap img {
        width: 216px;
    }

    .main-sidebar-link {
        font-size: 1.2rem;
    }

    .main-content-filter-wrap {
        height: auto;
    }

    .main-content-filter-left {
        font-size: 1.3rem;
    }

    .main-content-btn {
        padding: 7px 11px;
    }

    .main-content-select {
        width: 120px;
        padding: 7px 11px;
    }

    .info__below {
        padding: 0;
        font-size: 1.2rem;
    }

    .main__product.col-2-10 {
        width: 31.4%;
    }

    .connect-us {
        display: block;
    }

    .col-24.col-sm-12 {
        padding: 6px 12px;
    }

    .grid {
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 48em) {
    .header__search {
        width: 462px;
    }
}